/*SIDEBAR*/

.sidemenu {
    margin-bottom: 40px;
    border-right: 5px solid #4E7661;
}

.sidemenu ul li {
    list-style: none !important;
    border-bottom: 1px solid #999;
    padding: 20px 10px;
    transition: 0.5s;
    position: relative;
}

.sidemenu ul li a {
    color: #000;
    display: block;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 18px !important;
    transition: 0.5s;
    font-weight: 600;
}

.sidemenu ul li:hover a {
    color: #FFF;
    text-decoration: none;
    margin-left: 20px;
}

.sidemenu ul li:hover {
    background: #4E7661 !important;
}

.sidemenu ul li.active {
    background: #4E7661 !important;
}

.sidemenu ul li.active::after {
    content: '';
    background: #4E7661 !important;
    height: 20px;
    width: 20px;
    top: 25px;
    right: -14px;
    z-index: 9;
    position: absolute;
    transform: rotate(45deg);
}

.sidemenu ul li.active a {
    color: #FFF;
}


/*BREADCRUMB*/

.custom-shape-divider-bottom-1674915130 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1674915130 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1674915130 .shape-fill {
    fill: #FFFFFF;
}


.breadcrumbstwo {
    position: relative;
    height: 150px;
    background: #4E7661;
    padding: 50px;
}

.breadcrumbstwo .img-area {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.breadcrumbstwo .img-area img {
    width: 150px !important;
    min-width: 150px !important;
    text-align: center !important;
    font-size: 20px;
    line-height: 150px !important;
    height: 150px !important;
    min-height: 150px !important;
    border-radius: 150px !important;
    border: 6px solid #FFFFFF;
}

form .lbl {
    font-weight: bold;
    color: #333
}

.bg-profile-info .row {
    margin-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
}

.bg-profile-info .row .lbl {
    font-weight: bold;
    color: #000
}


/*--------------------------*/
.qty-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qty-container .input-qty {
    text-align: center;
    padding: 12px 7px;
    border: 1px solid #000000;
    max-width: 80px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    border: 1px solid #000000;
    padding: 10px 13px;
    font-size: 10px;
    height: 50px;
    width: 38px;
    transition: 0.3s;
    background: #000;
    color: #fff;
}

.qty-container .qty-btn-plus {
    margin-left: -1px;
}

.qty-container .qty-btn-minus {
    margin-right: -1px;
}


/*---------------------------*/
.btn-cornered,
.input-cornered {
    border-radius: 4px;
}

.btn-rounded {
    border-radius: 50%;
}

.input-rounded {
    border-radius: 50px;
}

.popup {
    position: relative;
}

table.options {
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #dfdfdf;
}

table.options tr td:hover {
    cursor: pointer;
    background: #dfdfdf;
}
