@import url(../fonts/icon-font.css);

@page {
    margin: 2px;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 13px;
}

footer {
    position: fixed;
    bottom: -0px;
    left: 0px;
    right: 0px;
    height: 30px;

    /** Extra personal styles **/
    background-color: #000;
    line-height: 25px;
    color: white;
}

footer .page-counter {
    float: left;
    margin-left: 10px;
}

footer .page-footer {
    float: right;
    margin-right: 10px;
}

footer .clearfix {
    clear: both;
}

.pagenum:before {
    content: counter(page);
}

main {
    padding: 10px;
}

table {
    width: 100%;
}

.logo {
    width: 100px;
}

table .subheading {
    background: #dfdfdf;
    padding: 2px;
    text-transform: uppercase;
    display: block;
}

table .strong {
    font-weight: bold;
}

table tr th {
    background: #dfdfdf;
}
